{%- liquid
  assign short_description = product.metafields.custom.short_description
  assign show_content = false

  if block.settings.use_metafield and short_description != blank
    assign show_content = true
  elsif block.settings.fallback_to_description and product.description != blank
    assign show_content = true
  endif
-%}

{%- if show_content -%}
  <div class="product-info__desc rte" {{ block.shopify_attributes }}>
    {%- if block.settings.use_metafield and short_description != blank -%}
      {{ short_description | metafield_tag }}
    {%- else -%}
      {{ product.description | truncatewords: block.settings.truncate_words }}
    {%- endif -%}
  </div>
{%- endif -%}
